
@font-face {
  font-family: "Roboto-regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

* {
  font-family: "Roboto-regular";
  line-height: 1.5;
  color: $dark-gray;
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: $black;
}
h1 {
    font-size: 60px;
    font-family: "Roboto-Bold";
    line-height: 90px;
    text-transform: uppercase;
    color: #FFFFFF;
}
h2 {
    font-size: 38px;
    font-family: "Roboto-Bold";
    line-height: 57px;
    text-transform: uppercase;
    color: #FFFFFF;
}
h3{
  font-size: 24px;
  font-family: "Roboto-regular";
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 415px) {
    h1 {
        font-size: 30px;
        font-family: "Roboto-Bold";
        line-height: 45px;
        text-transform: uppercase;
    }
    h2 {
        font-size: 18px;
        font-family: "Roboto-Bold";
        line-height: 27px;
        text-transform: uppercase;
    }
    h3{
      font-size: 16px;
      font-family:"Roboto-Bold";
      
    }
    .container{
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
}
.container{
  max-width: 1200px;
  margin: auto;
 
}
a{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
ul{
  list-style: none; 
}
.btn{
  padding: 20px 30px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  background: none;
}
.small-text{
  font-size: 12.8px;
}
.text-size1{
  font-size: 16px;
  line-height: 24px;
}
.text-size3{
  font-size: 32px;
}
.text-size7{
  font-size: 64px;
}
p{
  color: white;
}
.mb-16{
  margin-bottom: 16px;
}
.mt-16{
  margin-top: 16px;
}