.pageprice {
  background-color: $black;
  text-align: center;
  
  height: 908px;
    
    .container{
        max-width: 1240px;
        padding: 0 20px;
        padding-top: 100px;
    }
}

h2 {
  margin-bottom: 48px;
}
.card-section {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.price-card {
  max-width: 366.6px;
  padding: 0 1.5rem;
  color: white;
  border-radius: 1rem;
  h3 {
    margin-bottom: 200px;
    margin-top: 24px;
    font-weight: 400;
  }
  button {
    margin-bottom: 64px;
    width: 100%;
    background: none;
    border: 1px solid white;
    a {
      color: white;
      font-size: 16px;
      
    }
  }
  span {
    color: white;
  }
  .small-text {
    margin-bottom: 64px;
  }
}
.price {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 16px;
  line-height: 1em;
}

.bg-free {
  background: url("../images/subscribe_1.png") center center/cover no-repeat;
}
.bg-standart {
  background: url("../images/subscribe_2.png") center center/cover no-repeat;
}
.bg-premium {
  background: url("../images/subscribe_3.png") center center/cover no-repeat;
}
@media (max-width: 415px){
    .pageprice{
        height: 2222px;
    }
    .price-card{
        h3{
            margin-top: 16px;
            font-weight: 400;
        }
    }
}