#page-discography{
    padding-top: 100px;
    padding-right: 50px;

        img{
            width: 250px;
            height: 250px;
            margin-bottom: 18px;
        }

        h3{
            font-size: 18px;
            text-transform: none;
            margin-top: 0;
        }

        p{
            font-size: 16px;
            color: $gray   ;
        }
}

.albums-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 25px 50px;
}

@media (width <= 415px) {
    #page-discography{
        img{
            width: 137px;
            height: 137px;
            margin-bottom: 11px;
        }

        .albums-grid{
            grid-template-columns: repeat(auto-fill, 138px);
            justify-content: start;
        }
    } 

}
